<h2>Edit a new cocktail</h2>

<%= simple_form_for [@cocktail @ingredient @dose] do |f| %>
  <%= f.input :name %>
  <%= f.input :ingredient %>
  <%= f.input :description %>
  <%= f.submit "edit a cocktail", class: "btn btn-primary" %>
<% end %>
